[data]
    name = "{{ .name }}"
    email = "{{ .email }}"
    signingkey = "{{ .signingkey }}"
[diff]
    command = "delta"
    args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
